.author {
	color: #3DA5FF;
	text-shadow: 0 0 1vw #3DA5FF;
	font-weight: 500;
}

.author:hover {
	color: azure;
	text-shadow: 0 0 2vw azure;
	font-weight: 700;
}

.details {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.details-wrapper {
	display: flex;
	gap: 1vw;
}

.details-img-container {
	height: 38.6vw;
	width: 38.6vw;
	border-radius: 2vw;
	overflow: hidden;
}

.details-img {
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}

.details-text-container {
	height: 38.6vw;
	width: 38.6vw;
	border: 0.25vw solid #3DA5FF;
	border-radius: 2vw;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 2vw;
	text-align: center;
	padding: 1vw;
}

.title-wrapper {
	width: 100%;
}

.details-title {
	width: 100%;
	margin: 0;
}

.details-description {
	width: 100%;
}

.details-likes-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1vw;
	height: 7.6vw;
}

.details-navigation {
	cursor: pointer;
}