.details {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 0.5vw;
}

.details-img-container {
	height: 41vw;
	width: 41vw;
	border-radius: 2vw;
	overflow: hidden;
}

.details-img {
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}

.details-text-container {
	height: 41vw;
	width: 41vw;
	border: 0.2vw solid #3DA5FF;
	border-radius: 2vw;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 2vw;
	text-align: center;
	padding: 1vw;
}

.details-title {
	width: 100%;
}

.details-description {
	width: 100%;
}