h2 {
    font-size: 4vw;
    text-align: center;
    margin-top: 1.5vw;
    margin-bottom: 3.6vw;
}

.profile {
    width: 100%;
    margin-bottom: 1vw;
}

.profile-wrapper {
    display: flex;
    justify-content: space-evenly
}

.posts-wrapper,
.likes-wrapper {
    width: 38.6vw;
}

.posts-container,
.likes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}