.profile {
    width: 100%;
    text-align: center;
    margin-bottom: 1vw;
}

.button-title {
    background-color: #3DA5FF;
    border: none;
    padding: 0;
    height: 4.7vw;
    width: 18.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.6vw;
    border-style: none;
    font-weight: bold;
    color: azure;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-top: 0.25vw solid #3DA5FF;
    border-left: 0.25vw solid #3DA5FF;
    border-right: 0.25vw solid #3DA5FF;
    border-bottom: 0.25vw solid #3DA5FF;
    z-index: 1;
}

.button-title:hover {
    cursor: pointer;
    color: azure;
    box-shadow: #3DA5FF 0 0 1vw 0.25vw;
    text-shadow: 0 0 1vw azure;
}

.button-title:disabled {
    pointer-events: none;
    cursor: auto;
    background-color: #446786;
    box-shadow: none;
    color: azure;
    text-shadow: none;
    background-color: #01121F;
    border-bottom: 0.25vw solid #01121F;
}

.button-title-container {
    display: flex;
    gap: 1vw;
    margin-bottom: -0.25vw;
    margin-top: 1.75vw;
}

.profile-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    border-top: 0.25vw solid #3DA5FF;
    width: 100%;
    padding-top: 4.7vw;
}

.container-show,
.container-hide {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.container-hide {
    display: none;
}

.no-activity-yet {
    margin-top: 5vw;
    font-size: 3vw;
}