header {
	position: fixed;
	z-index: 2;
	background-color: #003E71;
	width: 100%;
	padding: 0.9vw 0;
	border-top: #3DA5FF 0.25vw solid;
	border-bottom: #3DA5FF 0.25vw solid;
}

.nav-list {
	display: flex;
	justify-content: space-around;
}

nav li {
	display: flex;
}

.nav-list a {
	color: #003E71;
}