header {
	position: fixed;
	z-index: 1;
	background-color: #003E71;
	width: 100%;
	padding: 1vw 14.5vw;
	border-top: #3DA5FF 0.25vw solid;
	border-bottom: #3DA5FF 0.25vw solid;
}

.nav-list {
	display: flex;
	justify-content: space-between;
}

nav li {
	display: flex;
}

.nav-list a {
	color: #003E71;
}