.post {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.post-form {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	gap: 1vw;
	text-align: center;
	border: 0.2vw solid #3DA5FF;
	padding: 1vw 1vw;
	border-radius: 2vw;
	background-color: #3da4ff29;
	width: 67vw;
	margin-bottom: 1vw;
}

.input-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vw;
}

.textarea {
	width: 50%;
	resize: none;
	height: 12.6vw;
	min-height: 3vw;
	font-size: 2vw;
	text-align: center;
	border-radius: 2vw;
	border: 0.2vw solid #3DA5FF;
	background-color: #01121F;
	color: #3DA5FF;
	overflow: hidden;
}