@import 'https://use.fontawesome.com/releases/v6.4.0/css/all.css';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
	background-color: #01121F;
}

.App {
	font-family: Nunito, sans-serif;
	color: #3DA5FF;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 7.1vw;
}

h1 {
	font-size: 5vw;
	text-shadow: 0 0 3vw #3DA5FF;
	color: #3DA5FF;
	text-align: center;
	margin-top: 0.1vw;
	margin-bottom: 1.2vw;
}

a {
	color: #01121F;
	text-decoration: none;
}

.input {
	width: 100%;
	height: 3.6vw;
	font-size: 2vw;
	text-align: center;
	border-radius: 2vw;
	border: 0.25vw solid #3DA5FF;
	background-color: #01121F;
	color: #3DA5FF;
}

.buttons-container {
	display: flex;
	gap: 3.6vw;
}

.button {
	background-color: #3DA5FF;
	border: none;
	padding: 0;
	height: 3.6vw;
	width: 10.4vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
	border-radius: 2vw;
	border-style: none;
	font-weight: bold;
}

.button:hover {
	cursor: pointer;
	color: azure;
	box-shadow: #3DA5FF 0 0 1vw 0.25vw;
	text-shadow: 0 0 1vw azure;
}

.button:disabled {
	pointer-events: none;
	cursor: auto;
	background-color: #446786;
	box-shadow: none;
	color: #01121F;
	text-shadow: none;
}

.errors {
	margin-top: 0.25vw;
	text-shadow: 0 0 2vw #3DA5FF;
	font-size: 2vw;
	text-align: center;
}