.auth-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 50vw;
	gap: 1vw;
	border: 0.2vw solid #3DA5FF;
	border-radius: 2vw;
	padding: 1.5vw 1.5vw;
	background-color: #3da4ff29;
	margin-bottom: 1vw;
}

.auth-submit {
	width: 100%;
	height: 3.6vw;
	font-size: 2vw;
	text-align: center;
	border-radius: 2.5vw;
	border-style: none;
	background-color: #3DA5FF;
	font-weight: bold;
}

.auth-submit:hover {
	cursor: pointer;
	box-shadow: #3DA5FF 0 0 1vw 0.2vw;
	color: azure;
	text-shadow: 0 0 1vw azure;
}

.auth-submit:disabled,
.auth-submit:disabled:hover {
	cursor: auto;
	background-color: #446786;
	box-shadow: none;
	color: #01121F;
	text-shadow: none;
}